.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7px;
  background-color: var(--CARD-LIGHT);
  z-index: 1;
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 9px;
}

.brand-logo {
  font-size: 36px;
  background-color: var(--BRAND-LOGO-BG);
  border-radius: 7px;
  margin: 4px;
}

.brandname,
.header-ctas {
  color: var(--CTAS-LIGHT);
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  padding: 4px;
  min-width: 25rem;
  border: thin solid var(--DEFAULT-GREY);
  border-radius: 4px;
  background: var(--SEARCH-BAR-BG);
}

.search-input:focus {
  border-color: var(--PURE-BLACK);
  outline: none;
}

.search-icon {
  position: absolute;
  right: 8px;
  font-size: 20px;
}

.header-ctas {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 1rem;
}

.header.dark {
  background-color: var(--DARK-THEME-BG);
}

.header.dark .brandname,
.header.dark .header-ctas,
.header-ctas Link,
.header.dark .menu {
  color: var(--CTAS-DARK);
}

.theme-icon,
.menu {
  font-size: 18px;
}

.menu {
  font-size: 24px;
}

.user-dialog {
  display: none;
}

@media (min-width: 552px) and (max-width: 768px) {
  .brandname {
    display: none;
  }

  .search-input {
    min-width: 15rem;
    margin: auto;
  }
}

@media (min-width: 769px) and (max-width: 810px) {
  .search-input {
    min-width: 15rem;
    margin: auto;
  }
}

@media (max-width: 551px) {
  .brandname {
    display: none;
  }

  .search-input {
    min-width: 10rem;
    margin: auto;
  }

  .header-ctas {
    display: none;
  }

  .user-dialog {
    display: block;
    position: relative;
    padding-right: 10px;
  }

  .user-icon {
    font-size: 24px;
  }

  .dark .user-dialog {
    color: var(--CTAS-DARK);
  }

  .dark .user-options {
    background-color: var(--CTAS-DARK);
    border: none;
  }

  .user-options {
    position: absolute;
    right: 0;
    top: 1.5rem;
    width: 8rem;
    background-color: var(--LIGHT-NAV-BG);
    padding: 1rem;
    border-radius: 4px;
    color: var(--CTAS-LIGHT);
    border: thin solid var(--DELETE-BTN);
    font-size: 14px;
    font-weight: 500;
  }

  .user-options-ctas {
    display: flex;
    flex-direction: column;
  }

  .theme {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
