.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 7px 1rem;
  background-color: var(--PAGE-BG);
  z-index: 1;
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 9px;
}

.brand-logo {
  border-radius: 7px;
  margin: auto;
  height: 2.5rem;
}

.brandname {
  letter-spacing: 2px;
  font-weight: 500;
}

.brandname,
.header-ctas,
.user-dialog,
.user-icon,
.user-options,
.theme-icon {
  color: var(--CTAS);
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  padding: 4px;
  min-width: 25rem;
  border: thin solid var(--DEFAULT-GREY);
  border-radius: 4px;
  background: var(--SEARCH-BAR-BG);
}

.search-input:focus {
  border-color: var(--PURE-BLACK);
  outline: none;
}

.theme-icon {
  font-size: 2.12rem;
  border-radius: 50%;
  padding: 5px;
}

.header-ctas {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-dialog {
  display: block;
  position: relative;
}

.user-icon {
  font-size: 2.12rem;
  padding: 5px;
  background-color: var(--PAGE-BG);
  border-radius: 50%;
}

.user-icon.active {
  filter: brightness(0.8);
}

.user-options {
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--CARD-BG);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.user-options.hide {
  height: 0;
  padding: 0;
  transition: height ease-out 300ms;
}

.user-options.show {
  height: 10rem;
  transition: height ease-out 300ms;
  padding: 1rem;
}

.user-options-ctas {
  display: flex;
  flex-direction: column;
}

.hide .user-actions {
  height: 0;
  padding: 0;
  opacity: 0;
  transition: opacity ease-in 300ms 500ms;
  transform: scale(0);
}

.user-actions {
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 7px;
  background-color: var(--PRIMARY-BG);
  color: var(--TEXT-DARK);
  border-radius: 0.5rem;
  transform: scale(1);
  opacity: 1;
  transition: opacity ease-in 200ms 400ms;
}

@media (min-width: 769px) and (max-width: 810px) {
  .search-input {
    min-width: 15rem;
    margin: auto;
  }
}

@media (min-width: 552px) and (max-width: 768px) {
  .brandname {
    display: none;
  }

  .search-input {
    min-width: 15rem;
    margin: auto;
  }
}

@media (max-width: 551px) {
  .brandname {
    display: none;
  }

  .search-input {
    min-width: 10rem;
    margin: auto;
  }

  .header-ctas {
    gap: 5px;
  }
}
