.page-body {
  background-color: var(--PAGE-BG);
  min-height: 100vh;
  min-width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: var(--AUTH-CARD-BG);
  display: flex;
  flex-direction: column;
  max-width: 80%;
  border-radius: 5px;
  border: none;
  padding: 2rem;
  color: var(--TEXT-DARK);
}

.container-title {
  text-align: center;
  margin-bottom: 2rem;
}

.login-details {
  max-width: 100%;
  min-width: 40%;
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.labelled-input {
  max-width: 100%;
  width: fit-content;
  margin: auto;
}

.labelled-input.label-top input {
  min-width: 40%;
  max-width: 100%;
  width: 20rem;
  border: thin solid var(--DEFAULT-GREY);
  border-radius: 4px;
}

.login-actions {
  width: 100%;
  margin: auto;
}

.auth-opts {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.auth-btns {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link-btn-outline.login-btn {
  min-width: 8rem;
  margin: auto;
  background-color: var(--AUTH-CTAS);
  color: var(--TEXT-DARK);
  border: none;
}

.login-btn:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.new-user {
  text-align: center;
}

.password {
  position: relative;
}

.toggle-login-pwd {
  position: absolute;
  top: 1.8rem;
  align-self: flex-end;
  margin-right: 1rem;
  color: var(--DEFAULT-GREY);
}

.toggle-login-pwd:hover {
  cursor: pointer;
}

.sign-up {
  min-width: 8rem;
  margin: auto;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: var(--AUTH-CARD-BG);
  color: var(--DARK-YELLOW);
  border: none;
}

.sign-up:hover {
  filter: brightness(0.95);
}

@media (max-width: 480px) {
  .page-body {
    align-items: center;
    justify-content: center;
    min-width: 100vw;
  }

  .login-container {
    max-width: 75%;
    font-size: small;
    padding: 1rem;
  }

  .container-title {
    margin-bottom: none;
  }

  .auth-opts {
    font-size: small;
  }

  .auth-btns {
    gap: 5px;
    width: 100%;
  }

  .link-btn-outline.login-btn {
    min-width: 6.5rem;
    padding: 5px 2px;
  }

  .new-user Link {
    font-size: small;
  }

  .toggle-login-pwd {
    top: 50%;
  }
}
