.playlist-card {
  height: auto;
  width: 17rem;
  background-color: var(--PAGE-BG);
  color: var(--CARD-DARK);
  margin: 10px;
  border-radius: 1rem;
  overflow: hidden;
}

.playlist-card.dark {
  background-color: var(--CARD-BG);
  color: var(--THEME-TEXT);
}

.playlist-details {
  padding: 7px 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.delete-icon {
  font-size: 1.12rem;
}

.delete-icon:hover {
  filter: brightness(0.5);
  cursor: pointer;
}

.playlist-thumbnail {
  max-height: 9rem;
  width: 100%;
  margin: auto;
}

.playlist-videos {
  position: relative;
}

.delete-video {
  position: absolute;
  top: 1.25rem;
  right: 2.5rem;
  font-size: 1.875rem;
}
