.playlist-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 1rem;
  min-width: 20rem;
  border-radius: 1rem;
  background-color: var(--LIGHT-NAV-BG);
  outline: 2px solid var(--MODAL-OUTLINE-LIGHT);
}

.playlist-modal.dark {
  background-color: var(--DARK-THEME-BG);
  outline: none;
}

.playlist-modal.dark .modal-bg {
  background-color: var(--MODAL-BG-DARK);
}

.modal-bg {
  background-color: var(--MODAL-BG-LIGHT);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.playlists {
  min-height: 5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4px 7px;
}

.modal-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-modal,
.add-playlist {
  color: var(--DELETE-BTN);
  font-size: 22px;
}

.create-playlist {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.add-playlist {
  position: absolute;
  right: 8px;
  font-size: 26px;
}

.playlist-modal.dark .add-playlist {
  color: var(--DARK-THEME-BG);
}

.create-playlist input {
  width: 100%;
  padding: 4px 7px;
  border-radius: 4px;
  background-color: var(--INPUT-BG);
  border: none;
}

.create-playlist input:focus {
  outline: 1px solid var(--INPUT-FOCUS);
}

.create-playlist-btn {
  padding: 4px 7px;
  border-radius: 4px;
  background-color: var(--DARK-THEME-TEXT);
  border: none;
}

.create-playlist:hover,
.close-modal:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.playlist {
  display: flex;
  align-items: center;
  gap: 10px;
}
