.sidebar {
  background-color: var(--CARD-LIGHT);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  position: fixed;
  top: 3rem;
  height: 95vh;
  min-width: 5rem;
  padding: 2rem 1rem 2rem 10px;
}

.sidebar.dark {
  background-color: var(--DARK-THEME-BG);
}

.dark .sidebar-links {
  color: var(--CTAS-DARK);
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 5rem;
}

.sidebar-icons {
  font-size: 24px;
}

.sidebar-links.active {
  background-color: var(--CTAS-DARK);
  color: black;
  border-radius: 1rem;
}

@media (max-width: 810px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    top: auto;
    bottom: 0px;
    min-width: 100%;
    z-index: 4;
    justify-content: space-around;
    height: fit-content;
    padding: 0px;
    gap: 1rem;
  }

  .sidebar-pages {
    display: none;
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    max-height: 3rem;
  }
}
