:root {
  --toastify-color-light: #f6f2f2;
  --toastify-color-dark: #292828;
  --toastify-color-info: #3498db;
  --toastify-color-success: #33c238;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-text-color-light: #423f3f;
  --toastify-text-color-dark: #dcd6d6;
}
