:root {
  --PLAYER-WIDTH: 1024px;
  --PLAYER-HEIGHT: 575px;
}

html {
  scroll-behavior: smooth;
}

.player {
  background-color: var(--PAGE-BG);
  margin-top: 3rem;
  margin-left: 6.5rem;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--THEME-TEXT);
}

.video-player {
  margin: 1rem auto;
  border-radius: 1rem;
  overflow: hidden;
  height: fit-content;
  position: relative;
  background-color: var(--CARD-BG);
  display: flex;
  align-items: flex-start;
}

.video-player.dark {
  background-color: var(--CARD-BG);
  display: flex;
}

.videos {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  overflow-x: auto;
}

.suggestions {
  overflow-x: auto;
  margin-bottom: 2rem;
}

.videocard .video-card {
  width: 15rem;
  margin: 8px;
  min-height: 13.5rem;
  border-radius: 1rem;
}

.videocard .video-card .options {
  font-size: small;
}

.player-ctas {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.player-options {
  font-size: 24px;
}

.video-text {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  :root {
    --PLAYER-WIDTH: 769px;
    --PLAYER-HEIGHT: 432px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  :root {
    --PLAYER-WIDTH: 481px;
    --PLAYER-HEIGHT: 270px;
  }

  .video-player {
    width: fit-content;
  }

  .video-details {
    flex-wrap: wrap;
  }

  .video-title {
    width: 15rem;
    word-wrap: break-word;
  }

  .videocard .video-card .creator-dp {
    display: none;
  }
}

@media (max-width: 810px) {
  .player {
    margin: 3rem auto;
  }
}

@media (min-width: 340px) and (max-width: 768px) {
  :root {
    --PLAYER-WIDTH: 320px;
    --PLAYER-HEIGHT: 178px;
  }

  .video-player {
    width: fit-content;
  }

  .video-details {
    flex-wrap: wrap;
  }

  .video-title {
    width: 12rem;
    word-wrap: break-word;
  }

  .player-ctas {
    align-self: flex-end;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .player-options {
    font-size: 18px;
  }

  .videocard .video-card .creator-dp {
    display: none;
  }
}
