.main-content {
  display: flex;
  min-width: 20rem;
}

.video-list {
  width: calc(100vw - 5rem);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 6.5rem;
  min-height: 100vh;
  min-width: 20rem;
  background-color: var(--CARD-LIGHT);
}

.explore-videos {
  display: flex;
  flex-direction: column;
  background-color: var(--CARD-LIGHT);
}

.explore-videos.dark,
.video-list.dark {
  background-color: var(--DARK-THEME-BG);
  color: var(--DARK-THEME-TEXT);
}

.video-title {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.video-card {
  width: 20rem;
  margin: 8px;
  min-height: 17.75rem;
  border-radius: 1.5rem;
  background-color: var(--CARD-LIGHT);
  overflow: hidden;
  position: relative;
}

.video-card.dark {
  background-color: var(--CARD-DARK);
}

.video-details {
  display: flex;
  gap: 1rem;
  margin-top: 7px;
  padding: 5px 7px;
}

.creator-dp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.more-options {
  position: absolute;
  right: 10px;
  bottom: 5px;
  align-self: flex-end;
  padding: 5px;
  font-size: 1.75rem;
}

.options-dialog.hide {
  display: none;
}

.options-dialog {
  position: absolute;
  right: 1.25rem;
  bottom: 3px;
  width: fit-content;
  background-color: var(--CARD-LIGHT);
  color: var(--DIALOG-TEXT);
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 2;
}

.options {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 0 7px;
  border-radius: 4px;
  border: none;
}

.options:hover {
  cursor: pointer;
  background-color: var(--DIALOG-HOVER-BG);
}

.category-list {
  margin-top: 5rem;
  display: flex;
  margin: 5rem auto 0;
  gap: 2rem;
}

.category-list.dark,
.history-list.dark,
.history-list.dark .clear-history {
  background-color: var(--DARK-THEME-BG);
  color: var(--DARK-THEME-TEXT);
}

.explore-videos .video-list {
  margin-top: 0;
}

.category {
  border: 1.8px solid var(--CTAS-DARK);
  padding: 3px 10px;
  border-radius: 2rem;
}

.category:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.history-list {
  margin: 3.5rem auto 0 6.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.history-list .video-list {
  margin: 0;
  padding-left: 0;
}

.history-list .video-list .video-card {
  margin-right: 2px;
}

.history-list .clear-history {
  align-self: flex-end;
  padding: 4px 10px;
  border-radius: 4px;
  border: thin solid var(--DARK-THEME-TEXT);
}

.history-video {
  position: relative;
}

.history-list .delete-btn {
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 30px;
}

.category.active {
  background-color: var(--CTAS-DARK);
  color: black;
}

@media (max-width: 810px) {
  .video-list {
    width: 100vw;
    margin: auto;
  }
}

@media (max-width: 690px) {
  .video-list {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
    align-items: center;
    min-height: 100vh;
  }

  .category-list {
    margin-top: 5rem;
    display: flex;
    margin: 5rem auto 0;
    gap: 5px;
  }
}

@media (max-width: 480px) {
  .video-card {
    width: auto;
    min-height: auto;
  }
}
