.main-content {
  display: flex;
  min-width: 20rem;
}

.video-list {
  width: calc(100vw - 6.5rem);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  align-content: flex-start;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 6.5rem;
  min-height: 100vh;
  background-color: var(--PAGE-BG);
  color: var(--THEME-TEXT);
}

.explore-videos {
  display: flex;
  flex-direction: column;
  background-color: var(--PAGE-BG);
  color: var(--THEME-TEXT);
}

.video-title {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.video-card {
  width: 20rem;
  margin: 8px;
  min-height: 17.75rem;
  border-radius: 1rem;
  background-color: var(--CARD-BG);
  overflow: hidden;
  position: relative;
}

.video-card.dark {
  background-color: var(--CARD-BG);
}

.video-details {
  display: flex;
  gap: 1rem;
  margin-top: 7px;
  padding: 5px 7px;
}

.creator-dp {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.creator-text .p-grey {
  color: var(--GRAY-TEXT);
}

.more-options {
  position: absolute;
  right: 12px;
  bottom: 15px;
  align-self: flex-end;
  padding: 5px;
  font-size: 1.75rem;
  z-index: 3;
  border-radius: 50%;
  transition: transform 600ms;
}

.dark .more-options {
  background-color: var(--CARD-BG);
}

.more-options.active {
  filter: brightness(0.7);
  transform: rotate(90deg);
}

.more-options:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.options-dialog.hide {
  position: absolute;
  right: 0;
  height: 0;
  bottom: -3rem;
  height: 0;
}

.options-dialog {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 6.5rem;
  width: 100%;
  background-color: var(--CARD-BG);
  padding: 5px 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  transition: height 500ms ease-out;
}

.dark .options-dialog {
  background-color: var(--CARD-BG);
}

.options {
  display: flex;
  gap: 2px;
  width: 85%;
  align-items: center;
  justify-content: center;
  padding: 5px 7px;
  background-color: var(--PRIMARY-BG);
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}

.options:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  flex-direction: row-reverse;
  width: calc(100vw - 8.5rem);
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  margin: 5rem auto 0 8rem;
  gap: 2rem;
}

.sort-options {
  display: flex;
  position: absolute;
  right: 3rem;
}

.explore-videos .video-list {
  margin-top: 0;
}

.category {
  padding: 3px 10px;
  border: 1.8px solid var(--CTAS);
  border-radius: 2rem;
}

.category:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.history-list {
  margin: 3rem auto 0 6.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--PAGE-BG);
}

.history-list .video-list {
  margin: 0 auto;
  padding-left: 0;
  width: 100%;
}

.history-list .video-list .video-card {
  margin: 0 auto 10px;
}

.history-list .clear-history,
.clear-all {
  align-self: flex-end;
  padding: 4px 10px;
  border-radius: 4px;
  background-color: var(--PRIMARY-BG);
  border: 2px solid var(--PRIMARY-BG);
}

.history-list .clear-history:hover {
  cursor: pointer;
}

.history-video {
  position: relative;
  margin: 0 auto;
}

.history-list .delete-btn {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 1.875rem;
}

.category.active {
  background-color: var(--PRIMARY-BG);
  color: var(--TEXT-DARK);
  border: none;
}

.error.video-list {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  max-height: calc(100vh - 3rem);
  min-height: calc(100vh - 3rem);
  min-width: calc(100vw - 6.5rem);
}

.error-page {
  margin: auto;
  height: 70%;
  width: 40%;
}

.error-page img {
  height: 100%;
}

.empty-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2 / span 2;
}

.empty-page img {
  height: 100%;
}

.empty-page p {
  font-size: large;
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 8.5rem);
}

@media (max-width: 1496px) {
  .explore-videos {
    min-width: 100vw;
  }

  .video-list {
    width: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .options-dialog {
    height: 7.5rem;
  }

  .filters {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media (max-width: 810px) {
  .video-list {
    width: 100vw;
    margin: 3rem auto;
  }

  .history-list {
    width: 100vw;
    margin: 3rem auto;
    min-height: 95vh;
  }

  .history-list .video-list {
    margin: 0 auto;
    width: fit-content;
  }

  .history-list .delete-btn {
    position: absolute;
    top: 15px;
    right: 1.875rem;
    font-size: 1.875rem;
  }

  .empty-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    grid-column: 2 / span 2;
  }

  .filters {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-left: 1.5rem;
    width: 95vw;
    gap: 1rem;
  }

  .category-list {
    gap: 1rem;
  }
}

@media (max-width: 690px) {
  .video-list {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
    align-items: center;
    min-height: 100vh;
  }

  .category-list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: auto;
    font-size: small;
  }

  .sort-options {
    display: flex;
    position: static;
    top: 4rem;
    right: 1rem;
  }
}

@media (max-width: 480px) {
  .video-list {
    margin: 3rem auto;
  }

  .video-card {
    width: auto;
    min-height: auto;
  }

  .category-list li {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }

  .history-list {
    margin: 3rem auto;
    height: 95vh;
  }

  .history-list .video-list {
    margin: 0 auto;
    min-height: calc(100vh - 3rem);
    width: 100%;
  }

  .filters {
    gap: 0px;
    margin-left: 12px;
    align-items: flex-start;
  }

  .filters > div:first-child {
    margin-left: 0.5rem;
  }
}

@media (min-width: 690px) and (max-width: 870px) {
  .category-list {
    font-size: small;
  }

  .sort-options {
    display: flex;
    position: static;
  }
}

@media (max-width: 499px) {
  .category-list {
    width: 85vw;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    gap: 2px;
  }

  .category-list li {
    font-size: x-small;
    margin: auto;
  }

  .category-list p {
    display: none;
  }

  .filters {
    gap: 1rem;
  }

  .filters > div:first-child {
    margin-left: 0.5rem;
  }
}
