@import url("https://clay-ui.netlify.app/stylesheets/index.css");

:root {
  --SEARCH-BAR-BG: #f8f8f8;
  --INPUT-BG: #dedada;
  --MODAL-OUTLINE-LIGHT: #c7c6c6;
  --TOGGLE-SLIDER: #c7c6c6;
  --DELETE-BTN: #8d8888;
  --CHECK-ICON-BG: #628d62;
  --TEXT-DARK: #171717;
  --AUTH-CARD-BG: #ded6d6;
  --AUTH-CTAS: #ebbd08;
  --PROFILE-CARD-BG: #dfd877;
  --MODAL-BG: #1e1b1bb1;
  --PROFILE-CARD-GRADIENT: linear-gradient(
    138deg,
    #dfd877 0%,
    #fdd41d 50%,
    #ebbd08 100%
  );
  --STATS-BG: #edc514;
  --STATS-GRADIENT: linear-gradient(
    325deg,
    #edc514 2%,
    #edc514 50%,
    #e3d022 99%
  );
}

.light {
  --CARD-BG: #e5e4e4;
  --CTAS: #3b3939;
  --PAGE-BG: #e5e4e4;
  --PRIMARY-BG: #ebbd08;
  --THEME-TEXT: #302e2e;
  --SCROLLBAR-BG: #e5e4e4;
  --SCROLLBAR-THUMB: #ded6d6;
  --GRAY-TEXT: #676666;
  --SEARCH-BORDER: #676666;
}

.dark {
  --CARD-BG: #2b2a2a;
  --CTAS: #ded6d6;
  --PAGE-BG: #171717;
  --PRIMARY-BG: #f4d453;
  --THEME-TEXT: #e9e6e6;
  --SCROLLBAR-BG: #171717;
  --SCROLLBAR-THUMB: #2b2a2a;
  --GRAY-TEXT: #9e9e9e;
  --SEARCH-BORDER: #2b2a2a;
}

body {
  height: auto;
}

body::-webkit-scrollbar,
.category-list::-webkit-scrollbar {
  display: none;
}

.suggestions::-webkit-scrollbar,
.videos::-webkit-scrollbar {
  height: 7px;
  background: var(--SCROLLBAR-BG);
}

.suggestions::-webkit-scrollbar-thumb,
.videos::-webkit-scrollbar-thumb {
  background-color: var(--SCROLLBAR-THUMB);
  border-radius: 10px;
}

.playlists::-webkit-scrollbar {
  width: 7px;
  background: var(--SCROLLBAR-BG);
}

.playlists::-webkit-scrollbar-thumb {
  background-color: var(--SCROLLBAR-THUMB);
  border-radius: 10px;
}
